@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #000319;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-left {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
}

.custom-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
